<!doctype html>
<html>
  <head>
    <title>Welcome to <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=appName%></h1>
    <div class="navbar">
      <a href="list" class="active">List patients</a>
      <a href="search">Search for patient</a>
      <a href="addpatient">Add a new patient</a>
      <a href="register">Register new user</a>
      <a href="login">Login with us</a>
      <a href="about">About <%=appName%></a>
      <a href="/logout">Logout</a>
    </div>
    <h2>Patient List</h2>
    <ul class="patient-list">
      <% availablePatients.forEach(function(patient) { %>
        <li><a href="/patient/<%= patient.id %>"><%= patient.name %>, <%= patient.surname %></a></li>
      <% }) %>
    </ul>    
    </body>
</html>
